<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta mane="autor" content="#">
    <meta name="description" content="#">
    <meta name="keywords" content="#">
    <title>Acardemy - Recuperación de contraseña</title>
    <link rel="favicon" type="image/png" th:href="@{favicon/}">
    <link rel="stylesheet" th:href="@{css/recuperar/recuperarUser.css}">
</head>
<body>
    <!-- Pagina -->
    <div class="pagina">
        <h1 class="titulo">Acardemy</h1>
        <p class="texto">Recupera tu acceso para continuar con tus estudio.</p>
        <!--Formulario de recuperacion-->
            <main class="cuadro">
                <h2 class="titulo_recuperar">Recuperar Contraseña</h2>
                <p class="descripcion">Ingresa el correo electrónico asociado a tu cuenta de Acardemy y te enviaremos un enlace para restablecer tu contraseña.</p>
                <form class="formulario" th:action="@{/recuperar}" th:object="${user}" method="post">
                    <div class="input">
                        <ion-icon class="icono_recuperar" name="mail-outline"></ion-icon>
                        <div class="label">
                            <label class="peticion">Correo electrónico</label>
                            <input class="ingreso" type="email" th:field="*{email}" placeholder="tu@email.com" required>
                        </div>
                    </div>
                    <button class="btn" type="submit">Recuperar contraseña</button>
                </form>
                <a class="inicio" th:href="@{/ingreso}">¿Recuerdas tu contraseña? Volver al inicio de sesión</a>
            </main>
    </div>

    <!-- Scripts -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>