/* "Roboto", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/* "Montserrat", sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Colores */
:root {
    /* Colores Fondo */
    --background-primario: #F8F9FA;
    --background-secundario: #F1F5F9;
    /* Colores Texto */
    --text-primario: #131313;
    --text-secundario: #5e6164;
    --text-terciario: #f3f5f8;
    /* Colores Botones */
    --btn-primario: #046ad6;
    --btn-secundario: #E2E8F0;
    /* Colores Etiquetas */
    --label-primario: #FFBD00;
    --label-secundario: #F9EEC9;
    /* Colores Sombras & Lineas */
    --shadow-primario: #d9e1eb;
    /* Colores Pie de pagina */
    --footer-primario: #F8F9FA;
    /* Colores hover */
    --hover-btn-primario: #3986d8;
    --hover-btn-secundario: #b0bac7;
}

/* Pagina */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-secundario);

}
.pagina {
    margin: 0;
    padding: 0;
    background-color: var(--background-secundario);
    display: grid;
    justify-content: center;
    align-items: center;
}

.titulo {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--text-primario);
    text-align: center;
    margin-bottom: 3px;
    margin-top: 80px;
}

.texto {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-secundario);
    text-align: center;
    margin-bottom: 80px;
}

/* Formulario de ingreso */
.cuadro {
    display: grid;
    background-color: var(--background-primario);
    padding: 30px 0;
    border-radius: 20px;
    box-shadow: 1px 2px var(--shadow-primario);
}

.titulo_recuperar {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    color: var(--text-primario);
    margin-top: 20px;
    margin-bottom: auto;
}

.descripcion {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--text-secundario);
    padding: 0% 20%;
    text-align: center;
}

.formulario {
    display: grid;
    justify-content: center;
}

.input {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 20px;
}

.icono_recuperar {
    font-size: 30px;
}

.label {
    display: grid;
}

.peticion {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: var(--text-primario);
}

.ingreso {
    padding: 10px 10px;
    width: 300px;
    border-radius: 10px;
    border-color: var(--shadow-primario);
    background-color: var(--background-secundario);
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
}

.btn {
    padding: 15px;
    background-color: var(--btn-primario);
    border-radius: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: var(--text-terciario);
    border-color: var(--shadow-primario);
}

.inicio {
    margin-top: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}

/* Animacion */
.btn:hover {
    background-color: var(--hover-btn-primario);
}